body{
    background-color: black;
}
main{
    margin:0;
    padding:0;
    background-color: black;
}
header{
    background-color: rgba(255, 255, 255, 0.3);
}
header h1{
    font-family: "Cabin", sans-serif;
}
.navbar{
    /* background-color: #000000; */
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.3);
    /* background: none; */
    /* position: fixed; */
}
.navbar p{
    width: 3vw;
    margin:5px;
    text-align: left;
}
.navbar h1{
    width: 25vw;
    margin:0 10px;
}
.navbar-nav{
    gap:40px;
    width: 70vw;
    justify-content: right;
}
.nav-item a{
    color:black;
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}
.carousel-item{
    max-height: 100vh;
}
.somos{
    padding: 50px;
}
.somos h2{
    font-size: 2em;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    margin: 50px 0;
}
.somos .card{
    margin:10px;
    padding: 0;
    width: 31%;
    background-color: black;
}
.somos .card-header,.card-footer{
    background-color: #0DCAF0;
}
.somos .card-body p{
    color:white;
    padding:1px;
}
.destaca{
    justify-content: center;
}
.destaca h2{
    font-size: 2em;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    margin: 50px 0;
}
.destaca .card{
    background-color: #0DCAF0;
    margin:5px;
    padding:0;
    width: 23%;
}
.destaca .card-header{
    margin:0;
    padding:0;
    /* max-height: 20vh; */
}
.destaca .card-body .tit{
    color:white;
    font-size: 1.4em;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}
.destaca .card-body .txt{
    color:white;
    font-size: 1.2em;
    font-family: "Cabin", sans-serif;
    font-weight: 100;
}
.contacto{
    margin:50px;
}
.contacto h2{
    font-size: 2em;
    font-family: "Cabin", sans-serif;
    font-weight: 600;
    margin: 50px 0;
}
.contacto p,label{
    font-size: 1.2em;
    font-family: "Cabin", sans-serif;
    color:white;
}
@media (max-width: 500px) {
    .navbar p{
        width: 10vw;
        margin:5px;
        text-align: left;
    }
    .navbar h1{
        width: 40vw;
        margin:0;
    }   
    .somos{
        padding: 30px;
    }
    .somos .card{
        margin:20px 0;
        padding: 0;
        width: 100vw;
    }
    .destaca{
        padding: 30px;
    }
    .destaca .card{
        margin:20px;
        padding:0;
        width: 100vw;
    }
}